@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@theme :root {
  --color-btn-primary : #309689;
  --color-btn-hover: #278e81;
  --shadow-card: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
